@keyframes animacao{
    from {background-color: red;} /*Iniciando*/
    to {background-color: yellow;} /*Finalizando*/
}

@keyframes animacao2{
    0%{}
    30% {width: 100px;}
    50% {width:80px; background-color: red;}
    70% {left: 100px; background-color: blue;}
    90% {height: 100px; background-color: aqua;}
    100% {height: 300px; width: 300px; background-color: green;}
}

@keyframes animacao3{
    from{left: 0;}
    to{left: 1000px; background-color: green;}
}



.animation-div{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: animacao; /*Dando noma da animação*/
    animation-duration: 5s;
    position: relative;
}

.animation-div2{
    width: 200px;
    height: 200px;
    background-color: black;
    animation-name: animacao2;
    animation-duration: 10s;
}

.animation-div3{
    width: 100px;
    height: 100px;
    background-color: purple;
    position: relative;
    animation-name: animacao3;
    animation-duration: 6s;
    animation-delay: 2s;
}